<mat-card class="example-card">
  <img mat-card-image src="https://media1.fdncms.com/clevescene/imager/nine-inch-nails-performing-at-wolstein-center/u/slideshowthumb/3672025/a-10.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <h1>This is Nine Inch Nails</h1>
    <p>
        Et est admodum mirum videre plebem innumeram mentibus ardore quodam infuso cum dimicationum curulium eventu pendentem. haec similiaque memorabile nihil vel serium agi Romae permittunt. ergo redeundum ad textum.
    </p>
  </mat-card-content>
</mat-card>
