<app-welcome-toolbar></app-welcome-toolbar>

<h2>Presentation title</h2>
<p>Et est admodum mirum videre plebem innumeram mentibus ardore quodam infuso cum dimicationum curulium eventu pendentem. haec similiaque memorabile nihil vel serium agi Romae permittunt. ergo redeundum ad textum.</p>

<mat-grid-list cols="3" rowHeight="560px">
    <mat-grid-tile>
        <app-example-card></app-example-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-example-card></app-example-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-example-card></app-example-card>
    </mat-grid-tile>
  </mat-grid-list>